#root {
  max-width: 1280px;
  max-height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-image: url('./assets/images/brick.jpeg');
  background-size:400px;
  background-repeat: repeat;
  background-position: center;
}
